body{
background:black;
color:white;
}

.hero{
height:100vh;
display:flex;
justify-content:space-between;
align-items:center;
}

.left{
width:50%;
}

textarea,input{
width:100%;
margin:10px 0;
padding:10px;
}

button{
background:orange;
border:none;
padding:10px 20px;
}
.card{
background:#111;
padding:15px;
margin:10px 0;
border-radius:8px;
}

progress{
width:100%;
height:20px;
}

li{
margin-left:15px;
}

@media(max-width:768px){
.hero{
flex-direction:column;
}
.left{
width:100%;
}
}
